.opciones {
	display: inline-block;
	color:green;
}

.listado_usuarios {
	display: block;
	max-width: 95%;
	margin: 0 auto;

}

table {
	 border-collapse: collapse;
}

.titulos td {
	background: grey;
	color:000;
	width: 7.91%;
	text-align: center;
}

td {
	text-align: center;

}
td.opciones span {
	margin: 1px;
	padding: 1px;
	color:green;
}

a {
	text-decoration: none;
}

